#Nav_header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  padding: 3vh 10vw;
  border-bottom: 0.5vh solid #3a278b;
}

#titlelogo {
  height: 6vh;
}

#navbar-links {
  display: flex;
  gap: 5vw;
  align-items: center;
}

.nav-link {
  color: #000;
  font-size: 1.5rem;
  transition: color 0.3s;
  font-family: "D2Coding", sans-serif;
}

.nav-link:hover {
  color: #3a278b;
}

.usericon {
  width: 2.5vw;
  height: 2.5vw;
  margin: 0;
  border: 0.11vw solid #3a278b;
  border-radius: 0.5vw;
}
