.record-container2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .title2 {
    height: 10vh;
    font-family: 'D2coding';
    font-size: 3.5vh;
    padding-left: 13.5vw; /* 기존 padding-left 값을 맞췄습니다. */
    padding-top: 4.5vh;
    position: relative;
    font-weight: bold;
  }
  
  .title2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 13vw;  /* 'title'의 left 값인 3vw로 수정 */
    width: 6vw; /* 'title'의 width 값인 6vw로 수정 */
    height: 0.4vh;
    background-color: #3A278B;
  }  

.write-button {
    width: 8%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vh;
    border: 0.2vw solid #3A278B;
    border-radius: 0.5vw;
    background-color: #DCDDFF;
    font-family: "D2coding";
    font-size: 1.5vh;
    cursor: pointer; /* 클릭 가능한 버튼 느낌을 주기 위해 커서 변경 */
    margin-left: auto; /* 왼쪽 여백을 자동으로 설정하여 오른쪽으로 배치 */
    margin-right: 10vw; /* 오른쪽 여백을 설정하여 위치를 조금 조정할 수 있습니다. */
}

.iqtable-container {
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: center;  /* 수평 중앙 정렬 */
    align-items: center;  /* 수직 중앙 정렬 */
    padding: 0.5vh; /* 여백을 추가하여 테두리와 테이블 사이에 간격을 두기 */
    border: 0.2vw solid #3A278B; /* 사각형 테두리 추가 */
    border-radius: 1.5vw; /* 둥근 테두리 */
    background-color: white; /* 배경색을 흰색으로 설정 */
    flex-direction: column;
    margin: 0 auto;  /* 수평 중앙 정렬을 위해 사용 */
    margin-bottom: 5vh;
}

  
.iqtable {
    width: 80%;
    height: 35vh;
    border-collapse: collapse; /* 셀 경계선 병합 */
}

.iq-th, .iq-td {
    padding: 1vh;
    text-align: center;
    border-top: 0.1vw solid #848FDB; /* 위쪽 경계선만 표시 */
}
  
.iq-th {
    background-color: #ffffff;
    color: black;
    font-family: "D2coding";
    font-size: 2vh;
    font-weight: normal;
    border-bottom: 0.2vw solid #3A278B; /* 헤더 아래에 굵은 선 추가 */
    border-top: none;  /* 상단 경계선 제거 */
  }
  
.iq-td {
    background-color: #ffffff;
    color: black;
    font-family: "D2coding";
    font-size: 1.5vh;
    font-weight: normal;
}
  
/* 세로선 없애기 */
.iqtable .iq-tr .iq-td, .iqtable .iq-tr .iq-th {
    border-left: none;
    border-right: none;
}
  
.iqtable .iq-tr:first-child .iq-th {
    border-top: none; /* 첫 번째 행 상단에 선 없애기 */
}

/* 테이블의 빈 셀에 대한 경계선 제거 */
.iqtable-container td:empty {
    border: none;  /* 빈 셀의 경계선 제거 */
}
  
.iqtable-container2 tr:first-child td:empty {
    border-top: none; /* 첫 번째 행 빈 셀에 가로 선 제거 */
}
  
.iqtable-container2 tr td:empty {
    border-top: none; /* 빈 데이터 셀의 가로 선 제거 */
}
  
/* 검색 기록이 존재하지 않는 경우 메시지 스타일 */
.no-records-message {
    color: #7F7F7F; /* 원하는 색상 (예: Tomato) */
    font-size: 2vh;  /* 적절한 크기 */
    font-family: 'D2coding';
    font-weight: normal;
    text-align: center; /* 가로 중앙 정렬 */
    margin-top: 2vh;    /* 적당한 상단 여백 */
}
  
/* 페이지네이션 */
.table-pagination-wrapper2 {
    margin-top: 2vh !important;  /* 테이블과 페이지네이션 간 간격을 조금 더 늘려줍니다 */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
/* 페이지네이션 크기 줄이기 */
.ant-pagination-item2, .ant-pagination-prev2, .ant-pagination-next2 {
    font-size: 1.5vh !important;  /* 페이지네이션 아이템의 크기 줄이기 */
    font-family: "D2coding" !important;
}
  
/* 페이지네이션 화살표 크기 조정 */
.ant-pagination-prev .ant-pagination-item-link::before,
.ant-pagination-next .ant-pagination-item-link::before {
    font-size: 1.5vh !important;  /* '-' 크기 줄이기 */
    font-family: "D2coding" !important;
}
