.result_body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-container {
  background-position: center;
  background-size: contain !important;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 40vh);
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  position: relative;
  z-index: -1;
}

.title4 {
  font-family: "D2coding";
  font-size: 3.5vh;
  padding-top: 4.5vh;
  padding-left: 10vw;
  position: relative;
  font-weight: bold;
}

.title4::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 8vw;
  height: 0.4vh;
  background-color: #3a278b;
}

.parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10등분된 열 */
  grid-template-rows: repeat(12, 1fr); /* 12등분된 행 */
  position: absolute; /* 부모 요소가 페이지 컨테이너 위에 겹치도록 설정 */
  width: 100%;
  height: 69vh; /* 필요에 따라 조정 */
  top: 10vh; /* 헤더 높이만큼 내리기 */
  z-index: 1;
}

.div12 {
  grid-area: 4 / 2 / 12 / 5;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.grade {
  position: absolute;
  top: 64%;
  left: 27%;
  transform: translate(-50%, -50%);
  font-size: 30vw;
  font-family: "ghanachoco", sans-serif;
  z-index: 4;
}

.div13,
.div14,
.div15 {
  border: 0.2vw solid #9fa9e9;
  background-color: white;
  padding: 15px;
  margin-bottom: 5vh;
  border-radius: 1vw;
  z-index: 3;
}

/* div13, div14, div15의 그리드 설정 */
.div13 {
  grid-area: 4 / 6 / 7 / 10;
  font-size: 1rem;
  padding: 10px;
  text-align: center;
}

.div14 {
  grid-area: 7 / 6 / 10 / 10;
  font-size: 1rem;
  padding: 10px;
  text-align: center;
}

.div15 {
  grid-area: 10 / 6 / 13 / 10;
  font-size: 1rem;
  padding: 10px;
  text-align: center;
}

.ant-progress-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* page-container 위에 위치하도록 z-index 설정 */
  width: 30vw !important;
  height: 31vw !important;
}

.ant-progress-circle .ant-progress-inner {
  width: 30vw !important;
  height: 31vw !important;
}

.ant-progress-circle .ant-progress-background {
  width: 50px !important;
}

.ant-progress-circle .ant-progress-text {
  display: none;
}

.ant-progress-circle .ant-progress-ring-path {
  stroke-width: 50em !important;
}

.div11 {
  grid-area: 3 / 9 / 3 / 10;
  width: 60%;
  height: 60%;
  justify-self: end;
  font-family: "D2coding";
  font-size: 1em;
  color: #3a278b;
  border-radius: 0.5vw;
  background-color: #dcddff;
  border: 0.2vw solid #3a278b;
}
