.statics-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10vw;
}

.title3 {
  height: 10vh;
  font-family: "D2coding";
  font-size: 2.5em;
  padding-top: 4.5vh;
  position: relative;
  font-weight: bold;
}

.title3::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 9.5vw;
  height: 0.4vh;
  background-color: #3a278b;
}

.staticmain {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: auto;
  padding: 10vh 0;
  min-height: 60vh;
  position: relative;
  justify-content: space-between;
}

.statics-description {
  height: 2vh;
  font-family: "D2coding";
  font-size: 1.4em;
  padding-top: 2vh;
  position: relative;
}

.progress-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between !important; /* 기본 왼쪽 정렬 */
  align-items: space-between;
  width: fit-content; /* 내용에 맞게 너비 설정 */
  margin: 0 auto; /* 컨테이너 자체를 중앙 배치 */
}

.static_card {
  flex: 1 1 calc(50% - 2rem); /* 2열 배치 */
  min-width: 400px;
  max-width: 600px;
  box-sizing: border-box;
}

/* 마지막 카드가 홀수 개일 경우 왼쪽 정렬 */
.progress-container:has(.static_card:nth-child(odd):last-child) {
  justify-content: flex-start; /* 마지막 카드가 왼쪽 정렬되도록 변경 */
}

.ant-card {
  border-radius: 1vw;
  padding: 1rem;
  width: 100%;
}

.ant-progress {
  margin-top: 1rem;
}
